 .dc_All{
 margin: 0 15% 0 15%;
 }
 
 .dealCommentDetail_title {
 	padding: 30px 0 0 25px;
 	text-align: left;
 }
 .id_itemtitel{
	text-align: left;
	margin-top: 30px;
	padding-left: 60px;
 }
 #item_name{
 	color: red;
 }
 
 .comment_box{
 	margin: 30px 0 40px 0;
 }
 .comment_table{
 	margin: auto;
 	width: 800px;
 	height: 400px;
 	text-align: left;
 }
 .dealcontent{
 	padding-right: 100px;
 }
 
.mypage_title{
	display: flex;
}

.mypage_title h4{
	margin-top: 5px;
	margin-left: 10px;
}
.icon_prf{
	width: 30px;
	height: 30px;
	color: black;
	font-weight: lighter;
}