/* 프로필 영역 */

.mypage_all{
	margin-top: 50px;
	width: 60%;
}

.my_cheese{
	color: rgb(253, 201, 0);
	margin-left: 20px;
}

.all_prf{
	display: flex;
	margin-bottom: 50px;
}

.profile_box{
	/* background-color: rgba(253, 201, 0, 0.15); */
/* 	max-width: 1200px;
	height: 400px; */
	margin-bottom: 100px;
	display: flex;
	/* border: 3px solid rgba(253, 201, 0, 0.15); */
	border-top: 1px solid #BDBDBD;
}

.left_prf{
	padding-top: 50px;
	margin-bottom: 50px;
}

.right_prf{
	padding-top: 50px;
	padding-left: 200px;
}

/* 프사 */

.profile_img{
	margin: 20px;
	width: 200px;
	height: 200px;
	margin-top: 40px;
	/* margin-left: 150px; */
}

.file_img_del{
	color: gray;
	margin-left: 100px;
}
.file_img_del:hover{
	color: black;
}

/* 치즈이미지 */
.cheese_img{
	width: 40px;
	height: 40px;
}


/* 버튼 */

.btn_prf{
	color: white;
	margin-left: 65px;
	margin-top: 20px;
}

.btn_prf:hover {
	color: white;
}
.btn_prf:active, .btn_prf:focus{
	outline: none !important;
   	box-shadow: none !important;
   	color: white;
}

/* 수정 항목들 */
.prfimgUpd_A{
	text-decoration: none;
	color: gray;
	font-weight: bold;
	margin-left: 55px;
}

.prfimgUpd_A:hover{
	color: #FFBB00;
}

.prf_name{
	color: gray;
	font-weight: bold;
}

.prfUd_list{
	color: rgb(253, 201, 0);
	font-weight: bold;
}




/* input */
.input {
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.input:focus,
.input:focus {
  border-color: #ffc107;
  outline-color: #ffc107;
}
.input_all {
  margin: 0 auto;
  position: relative;
  left: 45%;
}


#login_btn {
  background-color: rgb(253, 201, 0);
  color: white;
  width: 100%;
}
#input1 {
  width: 60%;
}
#input2 {
  width: 60%;
}

.last {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  color: rgb(127, 127, 127);
}
#last1:hover,
#last2:hover,
#last3:hover {
  color: rgb(253, 201, 0);
}
#id_input,
#identify_input {
  width: 78%;
  margin-right: 1%;
}
.btn-gray {
  background-color: rgb(240, 240, 241);
  color: white;
  font-weight: bold;
}
#check_btn {
  background-color: rgb(253, 201, 0);
  color: white;
  width: 23%;
}
#check_btn:hover {
  font-weight: bold;
}

.file_img{
	margin-left: 15px;
}

.pwchk{
	font-size: 0.7rem;
	position: relative;
	/* bottom: 23px; */
}
